.sk-wheel-foreign {
  overflow: visible;
}
.sk-wheel-parent,
.sk-wheel-child {
  transform: translateX(-50%);
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  right: 40px;
}
.sk-wheel-child {
  position: absolute;
}
