html, body {
  overflow-x: hidden;
}
.w-contentWrapper.w-contentWrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.sk-wheel-foreign {
  overflow: visible;
}

.sk-wheel-parent, .sk-wheel-child {
  width: 160px;
  overflow: hidden;
  position: absolute;
  right: 40px;
  text-overflow: ellipsis;
  transform: translateX(-50%);
  white-space: nowrap;
}

.sk-wheel-child {
  position: absolute;
}

@keyframes tooltipAppear {
  to {
    opacity: 1;
  }
}


/* sk-tooltip */

.sk-tooltip {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  z-index: 11;
  background: #222;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  pointer-events: none;  
}

:focus {
  outline: none;

}
.sk-path-visible {
  transition: fill-opacity 0.35s, transform 0.35s;
  cursor: pointer;
}
.sk-path-visible:hover, 
.sk-path-active {
  transform: scale(1.1);
}

.sk-tooltip--name {
  padding: 10px;
  margin-top: -100%;
  border-radius: 10px;
  vertical-align: bottom;
  width: 250px;
  position: absolute;
  top: -58px;
  left: 50px;
  background: #222;
  font-size: 14px;
  color: #fff;
}

.sk-tooltip--connector {
  width: 2px;
  height: 70px;
  position: absolute;
  top: -22px;
  left: 32px;
  background: #222;
  transform: translate(-50%, -50%) rotate(45deg);
}
.sk-path-invisible {
  pointer-events: none;
}
/* 
.sk-tooltip--connector:after {
  content: '';
  display: block;
  width: 2px;
  height: 250px;
  transform: rotate(45deg);
  position: absolute;
  left: 88px;
  top: -212px;
  background: red;
} */